button {
    margin: 10px;
}

body, html {
 height: 100%;
}

.bg {
    background: url("Images/Fantasy.jpg") no-repeat center center fixed;
  
    background-size: cover;
    height: 100%;
}

.Char {
    float: left;
    padding: 10px;
}
